
/*Any elements*/
* {
    box-sizing: border-box;
    
}

/*Classes */
/*Elementi del menù */
.head_block{
    list-style-type: none
}

.head_block > li{
    display: inline-block; /*Elements of the menu are INLINE*/
}

.menuHeader > aside {
    display: inline-block; /*Elements of the header are INLINE*/
}


.allNewsBox *{
    display: inline-block;
}

.dataBox{
    color: white;
}

.titleAdv{
    text-align: center;
    position: relative;
    height: 150px;
    margin-top: 20px;
}


.titleAdv *{
    display: inline-block;
    height: 150px;
}

.advFrame{
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 200px;
}

.headerClass{
    margin-bottom: 20px;
}
.footerClass{
    margin-top: 20px;
}

.footerClass *{
    text-align: center;
    margin: 0px;
}

.articleSession *{
    display: inline-block;
}

.articleSession {
    margin-top: 10px;
}




.articleMedia > p{
    width: 65%;
    vertical-align: top;
}





/*Elements*/

body{
    background-color: gray;
}


h1{
    width: 70%;
    font-size: -webkit-xxx-large;
    text-align: center;
}

#leftFrameId{
    left: 3px;
}

#rightFrameId{
    right: 3px;
}

